:root {
    --color-blue: rgba(67, 147, 227, 0.772);
    --color-green: rgba(1, 168, 80, 1);
    --color-yellow: rgb(255, 255, 255);
    --color-white: rgba(225, 225, 230, 1);
    --color-greenOpacity: rgba(1, 168, 79, 0.611);
    --height-header: 6vh;
    font-family: monospace;

}

body {
    margin: 0px;
    display: flex;
    justify-content: center;
}

header {
    background-color: var(--color-greenOpacity);
    width: 100%;
    height: var(--height-header);
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    z-index: 3;
    box-shadow: 1px 1px 10px 1px rgb(255, 255, 255);
}

header p {
    font-size: 4vh;
    font-family: 'Open Sans', sans-serif;
    background: var(--color-blue);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    margin-left: 20px;
    font-family: monospace;

    color: var(--color-white);
    font-weight: bold;

}

header p:hover {
    background: var(--color-yellow);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    cursor: default;
}

.menu {
    display: block;
}

.list {
    display: flex;
    margin-right: 24px;
}

.listItem {
    margin-right: 32px;
}

.listItem:last-of-type {
    margin-right: 0;
}

.listItemLink {
    text-decoration: none;
    cursor: pointer;
    color: var(--color-blue);
    font-size: 2.3vh;
    font-family: monospace;
    color: var(--color-white);
}

.listItem:hover {
    transform: scale(1.1);
    color: var(--color-yellow);
}

.listItemLink:hover {
    color: var(--color-yellow);
}

li {
    list-style-type: none;

}

.menuHamburguer {
    display: none;
    z-index: 999;

}

.menuHamburguer ul {
    position: fixed;
    right: -200px;
    z-index: 998;
    top: calc(var(--height-header) - 10px);
    width: 150px;
    height: calc(80vh - 250px);
    padding-top: 100px;
    background-color: var(--color-greenOpacity);
    margin-left: -400px;
    transition: all ease .2s;


    background-color: rgb(50, 186, 50);
    border-radius: 5px;
}

.menuHamburguer .menuFaketrigger {
    position: fixed;
    right: 16px;
    top: 8px;
    z-index: 1000;
    width: 35px;
    height: 35px;
    opacity: 0;
}

.menuHamburguer .menuFaketrigger:checked~ul {
    margin-right: 200px;
}

.menuHamburguer .menuFaketrigger:hover {
    cursor: pointer;
}

.menuHamburguer .menuLines {
    position: fixed;
    right: 16px;
    top: 8px;
    z-index: 999;
    width: 35px;
    height: 35px;
}

.menuHamburguer .menuFaketrigger:hover~.menuLines span {
    background-color: var(--color-yellow);
}

.menuHamburguer .menuLines span {
    display: block;
    width: calc(var(--height-header) * 1.1);
    height: calc(var(--height-header) * 0.07);
    margin-bottom: calc(var(--height-header) * 0.2);
    background-color: var(--color-blue);
    border-radius: 3px;
    transition: all ease .2s;

    background-color: rgb(255, 255, 255);
}

.menuHamburguer .menuFaketrigger:hover~span {
    background-color: var(--color-yellow);
}

.menuHamburguer .menuFaketrigger:checked~.menuLines span {
    background-color: var(--color-yellow);

}

.menuHamburguer .menuFaketrigger:checked~.menuLines span:nth-child(1) {
    transform-origin: 0% 0%;
    transform: rotate(45deg) scaleX(0.7);
}

.menuHamburguer .menuFaketrigger:checked~.menuLines span:nth-child(2) {
    opacity: 0;
}

.menuHamburguer .menuFaketrigger:checked~.menuLines span:nth-child(3) {
    transform-origin: 0% 100%;
    transform: rotate(-45deg) scaleX(0.7);
}

.menuHamburguer a {
    text-decoration: none;
    cursor: pointer;
    color: #09447e;
    font-size: 3.3vh;
    font-family: 'Open Sans', sans-serif;
    color: white;
}

.menuHamburguer a:hover {
    transform: scale(1.1);
    color: var(--color-yellow);
}

.background {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -3;
}

.container {
    margin-top: 20vh;
    margin-bottom: 15vh;
    background: rgba(0, 0, 0, 0.4);
    width: 75%;
    height: 60vh;
    border: 2px solid var(--color-white);
    border-radius: 3px;
    width-min: 150px;
    height-min: 1000px;
    color: var(--color-white);
    justify-content: center;
    white-space: rap;
    overflow: auto;
    text-overflow: ellipsis;
    padding: 1rem;
}

h1 {
    text-align: center;
}

footer {
    position: fixed;
    width: 100%;
    bottom: 0;
    height: 24px;
    background: var(--color-blue);
    opacity: .8;
    border-top: 2px solid var(--color-white);
    text-align: center;
    color: var(--color-white);
    border-left: 0;
    margin-top: 20vh;
    font-size: 20px;
    padding: 1rem 0;
    box-shadow: 1px 1px 10px 1px rgb(255, 255, 255);

}

#loader {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background-color: rgb(52, 61, 70);
    cursor: wait;
}

#loader img {
    position: relative;
    left: 35%;
    top: 35%;
    width: 30%;
    height: 30%;
}

.hide {
    display: none;
}

@media (max-width: 870px) {
    .menu {
        display: none;
    }

    .menuHamburguer {
        display: contents;
    }

    .container {
        border-radius: 5px;
    }
}

@media (max-width: 460px) {
    h1 {
        font-size: 1.55rem;
    }

    p {
        /* font-size: 5vh; */
        font-size: 0.90rem;

    }

    .container {
        border-radius: 5px;
    }

    footer {
        font-size: 10px;
    }
}